.modal {
  display: flex;
  place-content: center;
  z-index: 5;
  
}
.message {
  background: rgba(19, 15, 23, 0.5);
  width: 100vw;
  font-weight: 800;  
  font-size: 3rem;
  position: absolute;
  top: 55vh; 
  z-index: 15;
}