.modal {
  display: flex;
  place-content: center;
  z-index: 5;
  
}
.message {
  background: rgba(19, 15, 23, 0.5);
  width: 100vh;
  font-weight: 800;  
  font-size: 3rem;
  position: absolute;
  top: 40vh;
  transform: translateY(-60%);
  z-index: 15;
}