.single-card {
    position: relative;
    transition: all 0.3s linear;
  }
  img {
    display: block;
    border-radius: 0.2rem;
    border: #fff 0.2rem solid;
    width: 100%;
  }

  .front {
    position: absolute;
    transform: rotateY(90deg);
  }
  .back {
    transition: all 0.3s linear;    

  }
 .flip .front{
    transform: rotateY(0deg);
    transition-delay: 0.3s;    
  }

 .flip .back{
  transition: all 0.3s linear;
    transform: rotateY(90deg);
  }
  /*
==============
Doesn't work in chrome
==============
  */
    /* .front {
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
  .flip {
    transform: rotateY(180deg);
  } */